:root{

    /*Obsidian*/
    
    /*
        --main-color: #201c1c;
        --secondary-color:#a584fa;
        --2ndary-color: #262626;
    
        --bold-color: #f44f51;
        --text-color : white;
        --H-red : #f44f51;
        --H-orange : #e5994b;
        --H-yellow : #e0de7b;
        --yellow-text-color: black;
        --H-blue : #65dddc;;
        --H-purble : #a584fa;
        --purple-text-color: black;
        --H-green: #58cd74;
        
        --Tree-Node1: #3c3c3c;
        --Tree-Node2: #3c3c3c;
        --Tree-Node3: #3c3c3c;
        --Tree-Node4: #3c3c3c;
        --Tree-Node5: #3c3c3c;
        --Tree-Node6: #3c3c3c;
        
        
        --cloze-color: #312849;
        --border-bottom: #a584fa;
        --cloze-text: white;
        */
        
        /*Side-Obsidian*/
    
    /*
        --main-color: #2e2e33;
        --secondary-color:#a584fa;
        --2ndary-color: #262626;
    
        --bold-color: #f44f51;
        --text-color : white;
        --H-red : #f44f51;
        --H-orange : #e5994b;
        --H-yellow : #e0de7b;
        --yellow-text-color: black;
        --H-blue : #65dddc;;
        --H-purble : #a584fa;
        --purple-text-color: black;
        --H-green: #58cd74;
        
        --Tree-Node1: #3c3c3c;
        --Tree-Node2: #3c3c3c;
        --Tree-Node3: #3c3c3c;
        --Tree-Node4: #3c3c3c;
        --Tree-Node5: #3c3c3c;
        --Tree-Node6: #3c3c3c;
        
        --cloze-color: #2e2e33;
        --border-bottom: #2e2e33;
        --cloze-text: #a884f4;
        */
    /*Disco Purple*/
    
    /*
        --main-color: #1d021b;
        --secondary-color:#430246;
        --2ndary-color: #30042c;
    
        --bold-color: #ff79c6;
        --text-color : white;
        --H-red : #ff5555;
        --H-orange : #ffb86c;
        --H-yellow : #e0de7b;
        --yellow-text-color: black;
        --H-blue : #8be9fd;;
        --H-purble : #ff79c6;
        --purple-text-color: black;
        --H-green: #50fa7b;
        
        --Tree-Node1: #901434;
        --Tree-Node2: #ffb86c;
        --Tree-Node3: #f1fa8c;
        --Tree-Node4: #50fa7b;
        --Tree-Node5: #8be9fd;
        --Tree-Node6: #ff79c6;
    
        --cloze-color: #64324e;
        --border-bottom: #f97ec4;
        --cloze-text: white;
    */
    /*Red-Vampire*/
    
    /*
    --main-color: ;
        --secondary-color:#90012e;
        --2ndary-color: #560c1f;
    
        --bold-color: #ff79c6;
        --text-color : white;
        --H-red : #ff5555;
        --H-orange : #ffb86c;
        --H-yellow : #e0de7b;
        --yellow-text-color: black;
        --H-blue : #8be9fd;;
        --H-purble : #ff79c6;
        --purple-text-color: black;
        --H-green:#50fa7b;
        
        --Tree-Node1: #901434;
        --Tree-Node2: #ffb86c;
        --Tree-Node3: #f1fa8c;
        --Tree-Node4: #50fa7b;
        --Tree-Node5: #8be9fd;
        --Tree-Node6: #ff79c6;
        */
       /*side,logseq*/
    
    /*
    --main-color: #2e2e33;
        --secondary-color:#104c54;
        --2ndary-color: #3a363e
    ;
    
        --bold-color: #ff79c6;
        --text-color : white;
        --H-red : #ff5555;
        --H-orange : #ffb86c;
        --H-yellow : #e0de7b;
        --yellow-text-color: black;
        --H-blue : #8be9fd;
        --H-purble : #ff79c6;
        --purple-text-color: black;
        --H-green:#50fa7b;
        
        --Tree-Node1: #901434;
        --Tree-Node2: #ffb86c;
        --Tree-Node3: #f1fa8c;
        --Tree-Node4: #50fa7b;
        --Tree-Node5: #8be9fd;
        --Tree-Node6: #ff79c6;
    */
    /*Logseq*/
    
     /**/
        --main-color: #082c34;
        --secondary-color: #104c54;
    
        --bold-color: #a5b5b6;
        --text-color : #a5b5b6;
        
        --H-red : #7f1d1d;
        --red-text-color: var(--text-color);
        
        --H-orange : #753717;
        --orange-text-color: var(--text-color);
        
        --H-yellow : #5a5934;
        --yellow-text-color: var(--text-color);
        
        --H-blue : #1e3a8a;
        --blue-text-color: var(--text-color);
        
        --H-purble : #581c87;
        --purple-text-color: var(--text-color);
        
        --H-green: #14532d;
        --green-text-color: var(--text-color);
        
        --2ndary-color: #103444;
        
        --Queue-background: #051a1f;
        
        --Tree-Node1: #194b53;
        --Tree-Node2: #194b53;
        --Tree-Node3: #194b53;
        --Tree-Node4: #194b53;
        --Tree-Node5: #194b53;
        --Tree-Node6: #194b53;
        
        --cloze-color: #1a3d44;
        --border-bottom: #2e2e33;
        --cloze-text: white;
    
    
    /*Red Carpet*/
    
    /*
        --main-color: #2e2e33;
        --secondary-color:#90012e;
        --bold-color: #ff79c6;
        --text-color : white;
        --H-red : #f85c5a;
        --H-orange : #ffb86c;
        --H-yellow : #e0de7b;
        --yellow-text-color: black;
        --H-blue : #8be9fd;
        --H-purble : #ff79c6;
        --purple-text-color: black;
        --H-green:#50fa7b;   
        --2ndary-color: #2e2e33;
        
        --Tree-Node1: #901434;
        --Tree-Node2: #ffb86c;
        --Tree-Node3: #f1fa8c;
        --Tree-Node4: #50fa7b;
        --Tree-Node5: #8be9fd;
        --Tree-Node6: #ff79c6;
        
        --cloze-color: #2e2e33;
        --border-bottom: #2e2e33;
        --cloze-text: #92e4f7;
        */
    
           }
            
       
            /*************************************************************
                                sidebar
    *************************************************************/
            
           .rn-add-button.flex.items-center.justify-center.overflow-hidden.gap-2.w-\[calc\(100\%-16px\)\].rn-clr-background-accent.hover\:rn-clr-background-accent--hovered.cursor-pointer.rn-clr-content-on-color.rounded.m-2.h-8 {
        background: --var(--secondary-clolor);
    }
          .rn-sidebar-counter{
     background-color: var(--secondary-color)!important;
     }
        
            
           .rounded-md.overflow-hidden.data-hj-suppress.text-sm.text-gray-60.dark\:text-gray-100.group-hover\:rn-clr-background--hovered:hover{
           background-color: var(--secondary-color)!important;
           
           }
        
            .grow.flex-1.overflow-hidden.max-h-\[var\(--rn-sidebar-item-height\,20px\)\].leading-\[var\(--rn-sidebar-item-height\,20px\)\].select-none.dont-break-rich-text-viewer.text-gray-60.flex.items-center.dark\:text-gray-100 {
        color: #b8c5cd;
    }
    
            .rn-sidebar-counter{
        background-color: var(--secondary-color)!important;
     }
             #document-sidebar {
      background-color: var(--2ndary-color); 
      
    }
    
    
    span.rn-queue-rem.rem-bullet__document.relative.max-w-full.box-border {
        background: var(--secondary-color);
    }
        
    /*************************************************************
        Body
    *************************************************************/
        
     span.max-w-full.rn-tag.hierarchy-editor__tag-bar__tag.flex.px-2.py-1.text-xs.mx-1.ml-\[5px\].gap-1.pr-\[2px\].leading-\[13px\].items-stretch.font-inter.whitespace-pre.rounded-md.dont-break-rich-text-viewer.button.text-gray-70.hover\:bg-gray-10.bg-gray-5 {
        background: var(--secondary-color);
    }
       
      
    
    .flex.items-center.justify-between.py-4 {
        background: var(--main-color);
    } 
        .rn-pane__body{
        background-color: var(--main-color);
        }
        .rn-clr-background{
            background-color: var(--main-color);
        }
       
        
        .rn-clr-background-elevation-10{
    
            background-color: var(--main-color);
        }
        .rn-editor__rem__body__text{
        color: var(--text-color);
        }
        .rn-clr-background-primary{
        
            background-color: var(--main-color); 
        }
            
             /*************************************************************
                                Flashcard-Queue
    *************************************************************/
         
         
         
         
         
         
         
        
    button.rn-button.button.rounded-md.box-border.inline-flex.select-none.flex-row.items-center.justify-center.text-center.cursor-pointer.relative.py-3\.5.px-4.h-14.rn-text-label-large.rn-button--primary.rn-clr-background-accent.text-white.focus\:ring-2.ring-primary-60.ring-offset-1.spaced-repetition__reveal-button.rn-queue__show-answer-btn {
        background: var(--secondary-color);
    }
    
    
    span.rn-queue-rem.basic_card_rem_type.rem-bullet__document.relative.max-w-full.box-border {
        background: var(--secondary-color);
    }
    
    
    
    element.style {
        background: var(--main-color);
    }
    
    .overflow-y-auto.grow {
        background-color: var(--main-color);
    }
    .border-solid.border.border-gray-20.rounded.shadow-lg.whitespace-nowrap.max-w-\[220px\].flex.items-center.p-2.cursor-pointer.inline-flex.rn-queue__folder-dropdown.py-0\.5 {
        border-color: var(--2ndary-color);
    }
    
    .queue__badge.rn-queue__card-counter.bg-gray-10.inline-block.px-2.py-1.text-sm.rounded {
        background: var(--secondary-color);
    }
    
    
    
    .spaced-repetition__bottom.justify-items-stretch.rounded-2xl.flex.flex-col.gap-6.p-4 {
        background: var(--main-color);
    }
           
        .queue__title.rn-queue__top-bar.py-0 {
        background: var(main-color);
        border-radius: 15px;
        
    }
    
    .rn-queue-container.queue-container.flex.justify-center.items-center.mobile\:items-start.font-inter.w-full.grow.overflow-hidden.dark\:rn-clr-background-primary.absolute.top-0.left-0.rn-clr-background-inverse-primary.h-full {
        background: var(--main-color);
    }
    
    
    
    
    .rn-queue-container.queue-container.flex.justify-center.items-center.mobile\:items-start.font-inter.w-full.grow.overflow-hidden.dark\:rn-clr-background-primary.absolute.top-0.left-0.rn-clr-background-inverse-primary.h-full {
        background: var(--Queue-background);
    }
    
    
    .queue__title.rn-queue__top-bar.py-0 {
        background: var(--main-color);
    }
            
            
    --rn-clr-background-primary--hovered: var(--secondary-color);
    
    
    
    --------------
    
    
    
    .h-full.box-border.px-8 {
        background: var(--main-color);
    }
    
    
    
    .box-border.flex.flex-col.gap-4.h-full.overflow-x-hidden.overflow-y-auto.pb-4.pt-8.rn-flashcards-edit {
        background: var(--main-color);
    }
    
    
    
    .queue-message.h-\[calc\(100\%-100px\)\].grow.p-4.flex.flex-col.items-center.justify-center.gap-2.text-center.queue-message--cleared {
        padding: 0;
    }
    
    .node-top-level-in-portal.rn-clr-background-elevation-10.rn-clr-shadow-card {
        background: var(--main-color);
    }
    
    .queue__buttons.justify-items-stretch.flex.flex-col.gap-4.p-4.pt-2 {
        background: var(--main-color);
    }
    
    
            
              /*************************************************************
                                Settings
    *************************************************************/
          .settings-page .settings-page__sidebar .settings-page__sidebar__link:hover{
    
        background-color: var(--secondary-color);
      
    }
    .rn-settings__link.settings-page__sidebar__kb__links.text-lg.cursor-pointer.flex.flex-row.items-center.py-2.px-4.hover\:bg-gray-10.whitespace-nowrap.text-black:hover{
        background: var(--secondary-color);
    }
    
    button.rn-button.button.rounded-md.box-border.inline-flex.select-none.flex-row.items-center.justify-center.text-center.cursor-pointer.relative.py-1\.5.px-3.h-8.rn-text-label-medium.hover\:bg-gray-10.rn-clr-background-primary.text-gray-100.border.border-solid.border-gray-15.mt-2 {
        border-block-color: var(--secondary-color);
        border-inline-color: var(--secondary-color);
    }
    
    button.rn-button.button.rounded-md.box-border.inline-flex.select-none.flex-row.items-center.justify-center.text-center.cursor-pointer.relative.py-1\.5.px-3.h-8.rn-text-label-medium.hover\:bg-gray-10.rn-clr-background-primary.text-gray-100.border.border-solid.border-gray-15.mt-2:hover{
        background: var(--secondary-color);
    }
    
    .settings-page__sidebar .settings-page__sidebar__link:hover{
    
        background-color: var(--secondary-color);}
        
        
        button.rn-button.button.rounded-md.box-border.inline-flex.select-none.flex-row.items-center.justify-center.text-center.cursor-pointer.relative.py-1\.5.px-3.h-8.rn-text-label-medium.hover\:bg-gray-10.rn-clr-background-primary.text-gray-100.border.border-solid.border-gray-15 {
        border-block-color: var(--secondary-color);
        border-inline-color: var(--secondary-color);
    }
    
    
    button.rn-button.button.rounded-md.box-border.inline-flex.select-none.flex-row.items-center.justify-center.text-center.cursor-pointer.relative.py-1\.5.px-3.h-8.rn-text-label-medium.hover\:bg-gray-10.rn-clr-background-primary.text-gray-100.border.border-solid.border-gray-15:hover{
       background-color: var(--secondary-color);
    }
       /*************************************************************
       Button/misc
       
       *************************************************************/
       .settings-page__sidebar .settings-page__sidebar__link:hover{
    
        background-color: var(--secondary-color);}
       .rn-clr-background-light-accent--hovered{
           background: var(--secondary-color);
           }
     .rn-code-node__toolbox{
        background: red;
         }
        
       .flex.items-center.justify-center.cursor-pointer.select-none.rn-clr-shadow-card.dark\:rn-clr-background-tertiary.h-\[38px\].w-\[38px\].leading-6.text-xl.rounded-full.fade-on-hide-ui.rn-clr-background-primary.border-gray-10.fixed.z-\[2\].bottom-\[36px\].right-\[26px\].rn-help-button {
        background: var(--secondary-color);
    }
       .flex.items-center.justify-center.cursor-pointer.select-none.rn-clr-shadow-card.dark\:rn-clr-background-tertiary.h-\[38px\].w-\[38px\].leading-6.text-xl.rounded-full.fade-on-hide-ui.rn-clr-background-inverse-primary.dark\:rn-clr-background-primary.text-gray-60.border-none.hover\:bg-gray-20.fixed.z-\[2\].bottom-\[36px\].right-\[26px\].rn-help-button {
        background: var(--secondary-color);
    }
        .rn-clr-background-secondary{
             background-color: var(--secondary-color); 
         }
        .rn-clr-content-secondary{
         color: white!important;
         } 
       
        
             .rn-clr-content-tertiary {
         color: white!important;
         }
         .rn-clr-content-on-color{
    
            color: white!important;
         }
         
         
         
             /*************************************************************
    All notes   
       *************************************************************/
        span.border-gray-30.bg-white.rn-checkbox.hover\:cursor-pointer.rn-checkbox--unchecked {
        background: var(--secondary-color);
        border-block-color: var(--secondary-color);
        border-inline-color: var(--secondary-color);
    }
         .rn-all-notes{
         }
         
         .rn-all-notes__row.fade-in-first-load.hover\:rn-clr-background--hovered.active\:bg-gray-10.rn-clr-background-light-accent {
        background: var(--secondary-color);
    }
    
    span.border-transparent.bg-blue-50.rn-checkbox.hover\:cursor-pointer.rn-checkbox--checked {
        background: #0284c7;
    }
         
         
           /*
        Rem hilgiht contrainers  normal
        */
        
        .rn-editor__rem__body--red{
            background-color: var(--h-red)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color: var(--red-text-color)!important;
       }
        .rn-editor__rem__body--orange{
            background-color: var(--H-orange)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color:black !important;
           
        }
        .rn-editor__rem__body--yellow{
            background-color: var(--H-yellow)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color:black !important;
           
        }
        .rn-editor__rem__body--blue{
            background-color: var(--H-blue)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color:black !important;
           
        }
        .rn-editor__rem__body--purple{
            background-color: var(--H-purble)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color: var(--purple-text-color) !important;
    ;    }
        .rn-editor__rem__body--green{
            background-color: var(--H-green)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color:black !important;
    ;    }
        .highlight-color--red{
            background-color: var(--H-red)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color: var(--red-text-color) !important;
        }
        .highlight-color--orange{
            background-color: var(--H-orange)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color: var(--orange-text-color) !important;
        }
        .highlight-color--yellow{
            background-color: var(--H-yellow)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color: var(--yellow-text-color)!important;
        }
        .highlight-color--green{
            background-color: var(--H-green)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color: var(--green-text-color) !important;
        }
        .highlight-color--blue{
            background-color: var(--H-blue)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color: var(--blue-text-color) !important;
        }
        .highlight-color--purple{
            background-color: var(--H-purble)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color: var(--purple-text-color) !important;
        }
        .rn-rem-reference{
            color: var(--H-orange);
            text-decoration: underline 2px;
        }
        .bold {
            font-weight: 700;
            color:var(--bold-color) ;
                 /*
        Headers & docment title 
        */
           }
           .rn-editor__rem__body__text--h1{
    ;        
    
           }
           .rn-editor__rem__body__text--h2{
    ;
           }
           .rn-editor__rem__body__text--h3{
    ;
           }
           .rn-doc-title{
    ;
           }
          .TreeNode {
        border-color: var(--Tree-Node1)!important ;
    }
    .TreeNode .TreeNode {
        border-color: var(--Tree-Node2) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode {
        border-color: var(--Tree-Node3) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode  {
        border-color: var(--Tree-Node4) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  {
        border-color: var(--Tree-Node5) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode   {
        border-color: var(--Tree-Node6) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode   {
        border-color: var(--Tree-Node1) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode   {
        border-color: var(--Tree-Node6) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode   {
        border-color: var(--Tree-Node1) !important ;
       
    }
    
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode   {
        border-color: var(--Tree-Node2) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  .TreeNode {
        border-color: var(--Tree-Node3) !important ;
       
    }
    
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  .TreeNode .TreeNode{
        border-color: var(--Tree-Node4) !important ;
       
    }
    
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  .TreeNode .TreeNode .TreeNode{
        border-color: var(--Tree-Node5) !important ;
       
    }
    
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  .TreeNode .TreeNode .TreeNode .TreeNode{
        border-color: var(--Tree-Node6) !important ;
       
    }
    
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode{
        border-color: var(--Tree-Node1) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode{
        border-color: var(--Tree-Node2) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode{
        border-color: var(--Tree-Node3) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode{
        border-color: var(--Tree-Node4) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode{
        border-color: var(--Tree-Node5) !important ;
       
    }
    
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode{
        border-color: var(--Tree-Node6) !important ;
       
    }
    
    
    .cloze {
     background-color: var(--cloze-color)!important;
     color: #ff79c6;
     border-bottom: 1.5px solid var(--border-bottom);
     padding-bottom: 2px;
     font-weight: 600;
     font-style: italic;
     color: var(--cloze-text) ;
     border-radius : 5px;
    } 
         
            
    
    
       
        .rn-clr-background-accent{
    
        background-color: var(--secondary-color);
        }
            